@page "/Inventory"

@rendermode InteractiveServer
@attribute [StreamRendering]
@attribute [Authorize(Roles = "Admin")]
@inject IProductService ProductService
@inject NavigationManager NavigationManager
@inject IModalService ModalService
@inject IAccountsService AccountsService
@inject AuthenticationStateProvider AuthenticationStateProvider


<div class="mockup-bg-container">

    <br/>
    <br/>
    <br/>
    <br/>
    <div style="display: flex; justify-content: center;">
    <div class="searchbarandbuttons">
            <input type="text" @bind="searchQuery" placeholder="Search for products..." class="searchbar" />
            <button @onclick="SearchProducts" class="littlebutton">Search</button>
        <button @onclick="OpenCreateDialog" class="littlebutton">Create</button>
        </div>
    </div>
 

<div class="row">
    <div class="col-md-12">
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Photo</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Products)
                {
                    <tr>
                        <td>@product.ProductName</td>
                        <td>
                            @if (!string.IsNullOrEmpty(product.ImageUrl))
                            {
                                    <img class="invimg" src="@product.ImageUrl" @onclick="() => OpenEditModal(product)" alt="Product Image" />
                            }
                        </td>
                        <td>@product.Description</td>
                        <td>@product.Price</td>
                        <td>@product.Quantity</td>
                        <td>
                            <span class="text-primary" style="cursor: pointer;" @onclick="() => OpenEditModal(product)">Edit</span> |
                            <span class="text-danger" style="cursor: pointer;" @onclick="() => OpenDeleteConfirmation(product)">Delete</span> |
                            <span class="text-primary" style="cursor: pointer;" @onclick="() => AddToChartOpen(product)">Add to cart</span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
</div>


<ComponentAlertNotification Message="@notificationMessage"
                            IsSuccess="@isNotificationSuccess" />

@if (ModalCreateShow)
{
    <ComponentCreatePoUp ItemCreated="@CloseCreateDialog">
    </ComponentCreatePoUp>
}
@if (ModalEditModalShow)
{
    <ComponentEditProduct Product="@selectedProduct"
                          OnClose="CloseEditModal" />
}
@if (isDeleteModalOpen)
{
    <ComponentDeleteConfirmModal OnClose="ConfirmDelete" />
}
@if (AddToChartShow)
{
    <ComponentAddToChart Product="@selectedProduct" OnClose="ChartClose" />
}

@code {
    private IEnumerable<Product> Products = new List<Product>();
    private string searchQuery = "";
    public bool ModalCreateShow { get; set; }
    private Product selectedProduct;
    private bool ModalEditModalShow = false;
    private String UpdateStatus = "";
    private string notificationMessage = "";
    private bool isNotificationSuccess = false;
    private bool isDeleteModalOpen = false;
    private bool AddToChartShow = false;

    protected override async Task OnInitializedAsync()
    {
        Products = await ProductService.GetAllProductsExecuteAsync("");

    }

    private async void AddToChartOpen(Product product)
    {
        selectedProduct = product;
        AddToChartShow = true;
    }

    private async void ChartClose(bool isAdded)
    {
        AddToChartShow = false;
        // Display a notification based on the update status
        notificationMessage = isAdded
            ? "Product added to chart!"
            : "Failed to add to chart.";

        isNotificationSuccess = isAdded;

        ModalEditModalShow = false;
        StateHasChanged();
        await Task.Delay(5000); // Display for 3 seconds
        notificationMessage = ""; // Clear the message after the delay
        return;
    }

    private async void CloseCreateDialog(Product product)
    {
        if (product != null)
        {
            await ProductService.CreateProductAsync(product);
        }
        ModalCreateShow = false;
        StateHasChanged();
        NavigationManager.NavigateTo("/Inventory", true);
    }

    private void OpenCreateDialog()
    {
        ModalCreateShow = true;
        StateHasChanged();
    }

    private async Task SearchProducts()
    {
        Products = await ProductService.GetAllProductsExecuteAsync(searchQuery);
        StateHasChanged();
    }

    private void OpenEditModal(Product product)
    {
        selectedProduct = product;
        ModalEditModalShow = true;
    }

    private async Task CloseEditModal(Product product)
    {
        if (product != null)
        {
            UpdateStatus = await ProductService.UpdateProductAsync(product);

            // Display a notification based on the update status
            notificationMessage = UpdateStatus == "Success"
                ? "Product updated successfully!"
                : "Failed to update product.";
            isNotificationSuccess = UpdateStatus == "Success";

            ModalEditModalShow = false;
            StateHasChanged();
            await Task.Delay(5000); // Display for 3 seconds
            notificationMessage = ""; // Clear the message after the delay
            return;
        }


        ModalEditModalShow = false;
        StateHasChanged();
    }

    private void OpenDeleteConfirmation(Product product)
    {
        selectedProduct = product;
        isDeleteModalOpen = true;
    }

    private async Task ConfirmDelete(bool confirm)
    {
        isDeleteModalOpen = false;

        if (confirm)
        {
            // Call delete service or use case
            var deleteStatus = await ProductService.DeleteProductAsync(selectedProduct.ProductId);

            if (deleteStatus == "Success")
            {
                Products = Products.Where(p => p.ProductId != selectedProduct.ProductId).ToList();
                notificationMessage = "Product deleted successfully!";
                isNotificationSuccess = true;
            }
            else
            {
                notificationMessage = "Failed to delete product.";
                isNotificationSuccess = false;
            }

            StateHasChanged();
            await Task.Delay(5000); // Display for 3 seconds
            notificationMessage = ""; // Clear the message after the delay
        }
    }

}